body {
    background-color: #191414; 
    color: #1DB954;
    text-align: center;
}

/* Light theme */
.light-theme { 
    background-color: white; 
    color: #191414; 
}

.nav-item{
    margin-right: 20px;
}

.nav-item a {
    display: flex;
    align-items: center; /* Center anchor content vertically */
    justify-content: center; /* Center anchor content horizontally */
    width: 100%; /* Make the link take full width of its parent (.nav-item) */
    height: 100%; /* Make the link take full height of its parent (.nav-item) */
    text-decoration: none;
}

a:link, a:visited {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #1DB954;
    color: white;
    width: 125px;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px; 
    border-radius: 15px;
}    

a:hover, a:active {
    background-color: #326544;
    text-decoration: none;
  }

header{
    margin-bottom: 45px;
}

.card{
    background: #1EBA55;
    color: #fff;
    border-radius: 25px;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: 50px auto 0;
    width: 80%;
    max-width: 1200px;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
    height: 300px;
}

.card img{
    max-width: 100px;
    height: auto;
}

.weather{
    height: 200px;
    height: calc(auto + 100px);
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

.theme-btn {
    font-size: 14px;
    width: 60px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #1DB954;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.theme-btn:hover {
    background-color: #326544;
    text-decoration: none;
}

/* Media query for smaller screen sizes (e.g., mobile devices) */
@media screen and (max-width: 760px) {
    .nav-item {
       /* width: calc(50% - 10px); /* Set width to 50% minus margin */
        margin-right: 10px; /* Remove margin between items */
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 10px;
    }

    a:link, a:visited {
        text-align: center;
        justify-content: center;
        display: flex;
        width: 90px;
        height: 50px;
        font-size: 12px;
        padding: 10px 20px; 
        border-radius: 15px;
    }

    header{
        margin-bottom: 15px;
    }
}

/* Media query for smaller screen sizes (e.g., mobile devices) */
@media screen and (max-width: 400px) {
    .nav-item {
       /* width: calc(50% - 10px); /* Set width to 50% minus margin */
        margin-right: 10px; /* Remove margin between items */
        align-items: center;
        justify-content: center;
        display: flex;
    }

    a:link, a:visited {
        text-align: center;
        justify-content: center;
        display: flex;
        width: 70px;
        height: 40px;
        font-size: 10px;
        padding: 10px 20px; 
        border-radius: 15px;
    }

    header{
        margin-bottom: 15px;
    }
}
