body {
    background-color: #191414; 
    color: #1DB954;
    text-align: center;
}

/* Light theme */
.light-theme { 
    background-color: #E8DED1;  /* Alternative - #E8DED1 */
    color: #191414; /* Alternative - #e246ab */
}

.nav-item{
    margin-right: 20px;
}

.nav-item a {
    display: flex;
    align-items: center; /* Center anchor content vertically */
    justify-content: center; /* Center anchor content horizontally */
    width: 100%; /* Make the link take full width of its parent (.nav-item) */
    height: 100%; /* Make the link take full height of its parent (.nav-item) */
    text-decoration: none;
}

a:link, a:visited {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #1DB954;
    color: white;
    width: 125px;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px; 
    border-radius: 15px;
}    

a:hover, a:active {
    background-color: #326544;
    text-decoration: none;
  }

header{
    margin-bottom: 45px;
}

.card {
    background: #1EBA55;
    color: #fff;
    border-radius: 25px;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 500px; /* Minimum height set to 500px */
}

.card-content {
    flex-grow: 1; /* Allow content area to grow */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card img{
    max-width: 100px;
    height: auto;
}

.search {
    position: relative;
    margin-top: 10px;
    width: 50%; /* Adjust width for larger screens */
    max-width: 400px; /* Limit maximum width */
    padding: 10px;
    box-sizing: border-box;
}

.search input[type="text"],
.search button {
    display: inline-block;
    vertical-align: middle;
    width: 45%; /* Adjust width for input and button */
    max-width: calc(100% - 20px); /* Limit maximum width */
    padding: 10px;
}

.search input[type="text"] {
    border-radius: 15px 0 0 15px;
    border: none;
}

.search button {
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #2F8F51;
    color: #E8DED1;
    cursor: pointer;
}


.weather{
    height: 200px;
    height: calc(auto + 100px);
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

.theme-btn {
    font-size: 14px;
    width: 60px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #1DB954;
    color: white;
    text-align: center;
    border-radius: 25px;
}

.theme-btn:hover {
    background-color: #326544;
    text-decoration: none;
}

.numbered-list {
    list-style: none; /* Remove default numbering */
    counter-reset: list-counter; /* Reset counter */
    text-align: left;
}

.numbered-list li::before {
    content: counter(list-counter) ". "; /* Add custom numbering */
    counter-increment: list-counter; /* Increment counter */
}

.container {
    margin-top: 40px;
}

/* Media query for smaller screen sizes (e.g., mobile devices) */
@media screen and (max-width: 760px) {
    .nav-item {
       /* width: calc(50% - 10px); /* Set width to 50% minus margin */
        margin-right: 10px; /* Remove margin between items */
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 10px;
    }

    a:link, a:visited {
        text-align: center;
        justify-content: center;
        display: flex;
        width: 90px;
        height: 50px;
        font-size: 12px;
        padding: 10px 20px; 
        border-radius: 15px;
    }

    header{
        margin-bottom: 15px;
    }
}

/* Media query for smaller screen sizes (e.g., mobile devices) */
@media screen and (max-width: 400px) {
    .nav-item {
       /* width: calc(50% - 10px); /* Set width to 50% minus margin */
        margin-right: 10px; /* Remove margin between items */
        align-items: center;
        justify-content: center;
        display: flex;
    }

    a:link, a:visited {
        text-align: center;
        justify-content: center;
        display: flex;
        width: 70px;
        height: 40px;
        font-size: 10px;
        padding: 10px 20px; 
        border-radius: 15px;
    }

    header{
        margin-bottom: 15px;
    }

    
}
