body {
    background-color: #191414; 
    color: #1DB954;
    text-align: center;
}

/* Light theme */
.light-theme { 
    background-color: #E8DED1;  /* Alternative - #E8DED1 */
    color: #1DB954; /* Alternative - #e246ab */
}

.nav-item{
    margin-right: 20px;
}

.nav-item a {
    display: flex;
    align-items: center; /* Center anchor content vertically */
    justify-content: center; /* Center anchor content horizontally */
    width: 100%; /* Make the link take full width of its parent (.nav-item) */
    height: 100%; /* Make the link take full height of its parent (.nav-item) */
    text-decoration: none;
}

a:link, a:visited {
    text-align: center;
    justify-content: center;
    display: flex;
    background-color: #1DB954;
    color: white;
    width: 125px;
    height: 50px;
    font-size: 16px;
    padding: 10px 20px; 
    border-radius: 15px;
}    

a:hover, a:active {
    background-color: #326544;
    text-decoration: none;
  }

header{
    margin-bottom: 45px;
}

.card {
    background: #1EBA55;
    color: #fff;
    border-radius: 25px;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 500px; /* Minimum height set to 500px */
}

.card-content {
    flex-grow: 1; /* Allow content area to grow */
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card img{
    max-width: 100px;
    height: auto;
}

.search {
    position: relative;
    margin-top: 10px;
    width: 50%; /* Adjust width for larger screens */
    max-width: 400px; /* Limit maximum width */
    padding: 10px;
    box-sizing: border-box;
}

.search input[type="text"],
.search button {
    display: inline-block;
    vertical-align: middle;
    width: 40%; /* Adjust width for input and button */
    max-width: calc(100% - 20px); /* Limit maximum width */
    padding: 10px;
    text-align: center;
}

.search input[type="text"] {
    border-radius: 15px 0 0 15px;
    border: none;
}

.search button {
    border-radius: 0 15px 15px 0;
    border: none;
    background-color: #2F8F51;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    width: 25%;
}


.weather{
    height: 200px;
    height: 180px;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
    display: none;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.login-btn {
    font-size: 14px;
    width: 110px;
    height: 40px;
    position: fixed;
    top: auto;
    right: 10px;
    background-color: #1DB954;
    color: white;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10px;
}

.theme-btn {
    font-size: 14px;
    width: 110px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #1DB954;
    color: white;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 10px;
}

.theme-btn:hover {
    background-color: #326544;
    text-decoration: none;
}

.numbered-list {
    align-items: center;
    list-style: none; /* Remove default numbering */
    counter-reset: list-counter; /* Reset counter */
    text-align: left;
    position: relative;
    
}

.numbered-list li::before {
    content: counter(list-counter) ". "; /* Add custom numbering */
    counter-increment: list-counter; /* Increment counter */
}

.container {
    margin-top: 40px;
}

.recommended-main {
    list-style: none; /* Remove default numbering */
    counter-reset: none; /* Reset counter */
    text-align: left; /* Align text to the left */
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: center; /* Center the content horizontally */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.recommended-main li {
    text-align: left; /* Align text to the left */
    list-style: none; /* Remove default numbering */
    background-color: #2F8F51; /* Background color for each box */
    color: #fff; 
    border-radius: 10px; /* Border radius for rounded corners */
    padding: 10px; /* Padding around each box */
    margin: 10px; /* Margin between each box */
    width: 400px; /* Set width of each box */
    min-height: 140px;
}

.recommended-main li img {
    max-width: 100%; /* Ensure the image fits within the box */
    height: auto; /* Maintain aspect ratio */
}

.recommended {
    list-style: none; /* Remove default numbering */
    counter-reset: none; /* Reset counter */
    text-align: left; /* Align text to the left */
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: center; /* Center the content horizontally */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.recommended li {
    text-align: left; /* Align text to the left */
    list-style: none; /* Remove default numbering */
    background-color: #1EBA55; /* Background color for each box */
    color: #fff; /* Text color */
    border-radius: 10px; /* Border radius for rounded corners */
    padding: 10px; /* Padding around each box */
    margin: 10px; /* Margin between each box */
    width: 400px; /* Set width of each box */
}

.recommended li img {
    max-width: 100%; /* Ensure the image fits within the box */
    height: auto; /* Maintain aspect ratio */
}

p.song-preview {
    margin-top: 10px;
    color:#dedede85 ;
    font-style: italic;
    font-size: small;
}

audio {
    align-items: center;
    padding-top: 10px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.login {
    text-decoration: none;
    background-color: #1DB954;
    color: #fff;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
}

.recommend-songs {
    text-decoration: none;
    background-color: #2F8F51;
    color: #fff;
    font-weight: bold;
    width: auto;
    align-items: center;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .search button {
        border-radius: 0 15px 15px 0;
        border: none;
        background-color: #2F8F51;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        width: 30%;
        max-width: 250px;
    }
    
}

/* Media query for smaller screen sizes (e.g., mobile devices) */
@media screen and (max-width: 740px) {
    .nav-item {
       /* width: calc(50% - 10px); /* Set width to 50% minus margin */
        margin-right: 10px; /* Remove margin between items */
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 10px;
    }

    a:link, a:visited {
        text-align: center;
        justify-content: center;
        display: flex;
        width: 90px;
        height: 50px;
        font-size: 12px;
        padding: 10px 20px; 
        border-radius: 15px;
    }

    header{
        margin-bottom: 15px;
    }

    .search {
        position: relative;
        margin-top: 10px;
        width: 50%; /* Adjust width for larger screens */
        max-width: 200px; /* Limit maximum width */
        padding: 10px;
        box-sizing: border-box;
    }

    .search button {
        border-radius: 0 15px 15px 0;
        border: none;
        background-color: #2F8F51;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        width: 50%;
        max-width: 200px;
    }

    .search input[type="text"] {
        border-radius: 15px 0 0 15px;
        border: none;
        width: 50%;
    }


}

/* Media query for smaller screen sizes (e.g., mobile devices) */
@media screen and (max-width: 400px) {
    .nav-item {
       /* width: calc(50% - 10px); /* Set width to 50% minus margin */
        margin-right: 10px; /* Remove margin between items */
        align-items: center;
        justify-content: center;
        display: flex;
    }

    a:link, a:visited {
        text-align: center;
        justify-content: center;
        display: flex;
        width: 70px;
        height: 40px;
        font-size: 10px;
        padding: 10px 20px; 
        border-radius: 15px;
    }

    header{
        margin-bottom: 15px;
    }

    
}
