/* src/TierList.css */

.tier-list-container {
  text-align: center;
  margin-top: 50px;
}

.tier-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow tiers to wrap to the next line */
  margin-top: 20px;
}

.tier-pair {
  display: flex;
  align-items: flex-start; /* Align items at the top of each tier pair */
  margin-bottom: 20px;
}

.tier {
  width: 150px; /* Adjust width of each tier */
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-right: 20px; /* Add spacing between tier pairs */
}

.tier-name {
  width: 150px; /* Adjust width of each tier */
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-right: 20px; /* Add spacing between tier pairs */
}

.tier h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dropped-items {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.dropped-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dropped-items button {
  padding: 6px 12px;
  cursor: pointer;
}

.items-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.item {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
