.tier-list-container {
  text-align: center;
  margin-top: 50px;
  background-color: gray;
  margin: 50px;
  border-radius: 15px;
}

.tier-pair {
  align-items: flex-start; /* Align items at the top of each tier pair */
  display: flex;
}

.tier-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow tiers to wrap to the next line */
  margin-top: 10px;
}

.tier {
  width: 810px; /* Adjust width of each tier */
  min-height: 100px;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex; /* Use flexbox to arrange items */
  justify-content: flex-start; /* Align items at the start of the tier */
  align-items: center; /* Center items vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  margin-right: 20px; /* Add spacing between tier pairs */
  background-color:rgb(50, 50, 50); /* Kolor, zeby wiedziec o co chodzi xD */
  align-items: stretch;
  display: flex;
}

.artist-item {
  display: flex; /* Use flexbox to arrange artist items */
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  margin-right: 10px; /* Add spacing between artist items */
}

.artist-item img {
  width: 90px; /* Set image width */
  height: 90px; /* Set image height */
  object-fit: cover; /* Ensure images maintain aspect ratio and cover the container */
  border-radius: 50%; /* Round image corners */
  margin-bottom: -10px;
}

.tier-name {
  flex: 1;
  width: 100px; /* Adjust width of each tier */
  min-height: 100px;
  border: 2px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
  font-weight:bolder;
  color: black;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.tier h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.dropped-items {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.dropped-items li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 90px;
  height: 90px;
}

.dropped-items button {
  padding: 6px 12px;
  cursor: pointer;
}

.items-container {
  text-align: center;
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  margin: 50px;
  margin-top: 40px;
}



.item {
  width: 90px; /* Set width of each item */
  height: 120px; /* Set height of each item */
  border: 2px solid #ddd; /* Border styling */
  border-radius: 8px; /* Border radius for rounded corners */
  padding: 10px; /* Padding inside the item */
  margin-right: 10px; /* Spacing between items */
  cursor: pointer; /* Change cursor on hover */
  list-style: none; /* Remove list-style */
}

/* Define tier-specific colors */
.tier-s {
  background-color: red; /* S tier color */
}

.tier-a {
  background-color: orange; /* A tier color */
}

.tier-b {
  background-color: yellow; /* B tier color */
}

.tier-c {
  background-color: greenyellow; /* C tier color */
}

.tier-d {
  background-color: aqua; /* D tier color */
}